.default {
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 10px;
    min-width: 100px;
    border: 1px solid #808080;
    background: #e0e0e0;
}

.default:hover {
    background: #d5d5d5;
    border: 1px solid #787878;
}

.red {
    background: #ff0000;
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 10px;
    min-width: 100px;
    border: 1px solid #ff0000;
    color: #fff;
}

.red:hover {
    background: #cd0101;
    border: 1px solid #cd0101;
}

button[disabled] {
    background: #fff;
    opacity: .5;
    cursor: default;
}

button[disabled]:hover {
    background: #fff;
    opacity: .5;
    cursor: default;
}